/*
	color scheme
	beige = #eeebe6 
	blue = #d2e6e7
	dark grey = #464646
	medium blue = #b2e0e9
	
	font-family
	font-family: 'Raleway', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Poiret One', cursive;
	font-family: 'Abel', sans-serif;

	font-family: 'Satisfy', cursive;
	font-family: 'Pinyon Script', cursive;
	font-family: 'Tangerine', cursive;
	font-family: 'Great Vibes', cursive;
*/

/* resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

body, h1 h2, h3, h4, h5, h6, nav, section, content, aside, footer {
	margin: 0;
	padding: 0;
}

body {
	font-size: 16px;
}

html {
 	background-color: #eeebe6;
}



#container {
	max-width: 1200px;
	margin: 0 auto;
}


.row {
	clear: left;
	width: 90%;
	margin: 0 auto;
}

.col {
	float: left;
}


nav {
	overflow: hidden;
	background-color: #464646;
	margin: 0;
}

nav ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline-block;
	list-style: none;
	padding: 1.5% 4.5%;
}

a {
	text-decoration: none;
	color: blue; 
}

nav > ul > li > a {
	color: #eeebe6;
	display: block;
	text-align: right;
}

nav > ul > li > a:hover {
	text-decoration: underline;
	color: #d2e6e7;
	text-transform: uppercase;
}

nav > div > a> img {
	width: 25%;
	padding: 1% 0 1% 1%;
}

.divider {
	background-color: #dbdbd3;
	padding: .9%;
	text-align: center;
	overflow: hidden;
}

.block {
	background-color: #dbdbd3;
	text-align: left;
	overflow: hidden;
}


h1 {
	font-family: 'Great Vibes', cursive;
	font-size: 3rem;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	font-family: 'Poiret One', cursive;
	font-size: 2rem;
}

h4 {
	float: left;
	width: 25%;
	margin: 1% 4.166%;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	border-bottom: 2px solid #e5e5df;
	padding: 1% 0;
}

h5 {
	font-family: 'Abel', sans-serif;
	font-size: 2rem;
	padding: 1% 0 2%;
	border-bottom: 2px solid #e5e5df;
}

h6 {
	font-family: 'Abel', sans-serif;
	font-size: 1.5rem;
	padding: 3% 0 1% 0;
}

.border-down {
	width: 100%;
	height: 25px;
	background: url('../images/borderDown.png') repeat-x;
}

.border {
	width: 100%;
	height: 25px;
	background: url('../images/border.png') repeat-x;
}

section > a > img {
	width: 25%;
	margin: 1% 4.166%;
	float: left;
	border: 5px solid #b2e0e9;
	padding: 1%;
}

hr {
	border: 1px solid #e5e5df;
}

.col-left {
	float: left;
	width: 70%;
	padding: 0 1%;
	border-right: 2px solid #e5e5df;
}

.col-right {
	float: left;
	width: 28%;
	padding: 0 1%;
	margin: 1%;
	background-color: #c6c6c2;
}

button {
	padding: 4px 8px 5px;
	margin-bottom: 10px;
}

button a {
	color: black;
}

footer {
	width: 100%;
	color: white;
	background-color: #464646;
	padding: 1.5%;
	overflow: hidden;
	text-align: center;
}

.social a {
	text-decoration: none;
}

.social > a > img {
	float: left;
	width: 4%;
	margin: 3% 6.33%;

}

.aboutIt {
	background-color: #d2e6e7;
	padding: 3%;
}

/* photo gallery - portfolio*/

.center > ul > li {
	background-color: #fff;
	padding: 10px;
}

.center > ul > li > img {
	width: 250px;
	height: 250px;
}

.center {
	width:900px;
	height:400px;
	padding-top: 40px;
	margin: 0 auto;
}

ul.box, ul.box2, ul.box3, ul.box4 {
position: relative;
z-index: 1;
overflow: hidden;
list-style: none;
margin: 0;
padding: 0; }


ul.box li, ul.box2 li, ul.box3 li, ul.box4 li {
position: relative;
float: left;
margin: 0 30px 30px 0;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset; }


/* contact form */

.formWidth {
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.formBack {
	width: 100%;
	background-color: #464646;
	padding: 2%;
}

fieldset {
	border: medium none !important;
	margin: 0px 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #b2e0e9;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#0CF;
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}












